input{
    height: 50px;
    width: 200px;
    background-color: aqua;
}
button{
    color: white;
    background-color: blue;
    height: 50px;
    width: 100;
}
p{
    color: rgb(242, 102, 102);
    font-weight: bold;
    font-size: 20px;
}